<div class="pure-g">
    <div class="pure-u-1 footer">
        <div class="pure-menu pure-menu-horizontal menu-footer">
            <ul class="pure-menu-list">
                <li class=pure-menu-item><a href="mailto:info.initiativewkberlin@gmail.com">Kontakt</a></li>
                {{ $currentPage := . }}
                {{ range .Site.Menus.footer }}
                <li class="pure-menu-item">
                    <a href="{{ .URL }}" class="pure-menu-link{{if $currentPage.IsMenuCurrent "footer" . }} active{{end}}">{{ .Name }}</a>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</div>
